[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "froggeR"]
	path = froggeR
	url = https://github.com/kylegrealis/frogger
[submodule "nascaR.data"]
	path = nascaR.data
	url = https://github.com/kylegrealis/nascar.data
